.intro-title {
  margin: 0;
  display: none;
  font-size: 42px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.35);
}

select{
  padding: 7px;
  width: 160px;
  border-radius: 5px;
  option{
    padding: 7px;
    width: 160px;
    border-radius: 5px;
  
  }
}

.intro-desc {
  opacity: 0.8;
  font-weight: 300;
}

.intro-button {
  height: 40px;
  border: 1px solid #fff;
  margin: 11px 7px;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  padding: 3px 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  &:hover {
    background-color: #fdfbfb;
    color: black;
}
}


@media (max-width: 576px) {
  .intro-desc{
   font-size: 17px;
   width: 20rem;
   line-height:40px;
   margin-left:2.5rem;
  }
 
  select{
   font-size: 14px;
   width: 13rem;
  }
 
  .intro-button{
   margin-bottom: 1rem;
   width: 13rem;
   padding: 0.6rem;
   font-size: 1.2rem;
  }
  &[data-game-started] {
    
    select{
     display: none;
     }

}



  }