.intro-title {
  margin: 0;
  display: none;
  font-size: 42px;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.35);
}

select{
  padding: 7px;
  width: 160px;
  border-radius: 5px;
  option{
    padding: 7px;
    width: 160px;
    border-radius: 5px;
  
  }
}

.intro-desc {
  opacity: 0.8;
  font-weight: 300;
}

.intro-button {
  height: 40px;
  border: 1px solid #fff;
  margin: 11px 7px;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  padding: 3px 30px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  &:hover {
    background-color: #fdfbfb;
    color: black;
}
}

.game{
display: block;
&[data-game-started] {
  .intro-title{
    display: block;
  }
  
  .intro {
    width: calc(50% - 100px);
    transition: 0.3s;
   
  }

}
}


.intro {
  width: 100%;
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  /* background: rgba(27, 5, 107, 0.12); */
background:linear-gradient(335deg, rgb(30, 49, 69), rgb(45, 109, 109));

 
}

.intro-inner {
  text-align: center;
  padding: 0 4rem;
  width: 100%;
}

@media (max-width: 576px) {
 .intro-desc{
  font-size: 17px;
  width: 20rem;
  line-height:40px;
  margin-left:2.5rem;
 }

 select{
  font-size: 14px;
  width: 13rem;
 }

 .intro-button{
  margin-bottom: 1rem;
  width: 13rem;
  padding: 0.6rem;
  font-size: 1.2rem;
 }

 .intro{
  width: 78%;

  margin: 0;
}
.intro-inner{
  padding: 1rem 2rem; 

}

 &[data-game-started] {
  .intro{
   display: none;
  }
  
}


  }