@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family:  "Be Vietnam Pro", sans-serif;
}
body {
  background:linear-gradient(300deg, rgb(30, 49, 69), rgb(45, 109, 109));

  color: rgb(252, 252, 252);
  font-family:  "Be Vietnam Pro", sans-serif;
 height: 100vh;
  overflow: hidden;
}

/* helpers */

.buttons_qsts{
  display: none;
  justify-content: space-around;
}

.game-started:after {
  transform: translateX(calc(-50% - 100px));
}

.showAnswer-button,.removeAnswers-button{
  height: 40px;
  border: 1px solid #fff;
  margin: 11px 7px;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  padding: 0 26px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  animation: result-item 0.2s 1.45s both;
  transition: all  0.2s ease-out  ;

  &:hover {
    background-color: #fdfbfb;
    color: black;
}
}

.game {
  position: fixed;
  width: 38rem;
  height: 16rem;
  margin: 6.6rem 18rem;
  border-radius: 12px;
  overflow: hidden;
 
  scroll-behavior: smooth;
  display: flex;
  transition: 0.3s;

  &[data-game-started] {
    width: 65rem;
    margin: 1.2rem 5.5rem;
    height: 28rem;

    .intro {
      width: calc(50% - 100px);
      transition: 0.3s;
    
    }


    .buttons_qsts{
      display: flex;
      justify-content: space-around;
      width: 12rem;
      margin-left: 3.2rem;
      margin-top: 1rem;
    }
    .intro-title{
      display: block;
    }
    select{
      display: none;
    }
    .game-area {
      flex-shrink: 0;
      width: calc(50% + 100px);
      overflow-x: hidden;
      transition: 0.3s;
      padding-top: 0.7rem;
     
    }
  }
}


.game-area {
  background-color: #fff;
  overflow: auto;
  padding: 0px 2.3rem;

}

.intro {
  width: 100%;
  flex-shrink: 0;
  color: #fff;
  display: flex;
  align-items: center;
  /* background: rgba(27, 5, 107, 0.12); */
background:linear-gradient(335deg, rgb(30, 49, 69), rgb(45, 109, 109));

 
}
.intro-inner {
  text-align: center;
  padding: 0 4rem;
  width: 100%;
}

#timer{
  position: absolute;
  top: 0;
  font-size: 17px;
  left: 2.5rem;
}

.spentTimer{
  animation: result-item 0.4s 1.45s both;
  transition: all  0.7s ease-out  ;
}



@media (max-width: 576px) {
body{
overflow: auto;
width: auto;
}

.intro{
  width: 78%;

  margin: 0;
}
.intro-inner{
  padding: 1rem 2rem; 

}

.game-area {
 display: none;
}
.game {
  margin-left: 4.4rem;
  width: 37rem;
  height: 50%;
   display: block;
   line-height: 4rem;
 
   position: relative;
 
  &[data-game-started] {
  width: 47rem;   
    margin-left:3rem;
    padding-right: 24px;
    height: auto;

    .intro {
      background: rgba(27, 5, 107, 0.12);
      width: auto;
      padding: 1.8rem 0;
      display: block;
      height: auto;
      margin-top:5rem;
    }

    .game-area {
      width: 100%;
      height: 110vh;
      overflow-y: scroll;
      padding: 20px;
      margin-top: 15px;
     display: block;
     
    }
  }

}

#timer{
  margin-top: 4.4rem;
  font-size: 33px;
}

[data-game-finished] {
 
  .game-area {
  overflow-y: scroll;
   
  }


}
}



