.translate{
    display: flex;
    justify-content: flex-end;
    width: 960px;
}
.translate span{
    margin: 20px 8px;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 2px;
}
.translate span:hover{
    opacity: 100%;
}
.active{
    color: white;
    font-weight: bold;
}
.not-active{
    opacity: 0.8;
}



@media (max-width: 576px) {
.translate{
   justify-content: center;
   margin-left: 33rem;
  width: 20%;  
  display: none; 
}
.translate span{
    margin: 5rem 1.2rem 0 1rem;
    
    font-size: 30px;
    letter-spacing: 2px;
}

}

